@model products_crud.Models.Product
<div class="container">
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1>Products</h1>
    </div>
<div class="panel panel-default">
  <div class="panel-heading"><h2>@Model.productName</h2></div>
  <div class="panel-body">
    <div class="row">
        <div class="col-md-3">
            <p>
            <strong>Image:</strong> 
            </p>
            <img class="card-img-top" src="@Model.productImagePath" alt="Card image cap" style="width:232px">
        </div>
        <div class="col-md-8">
            <p><strong>ID:</strong>@Model.productId</p>
            <p><strong>Price:</strong> R$@Model.productPrice.ToString("0.00") </p>
            <p><strong>Description:</strong>@Model.productDescription</p>
            <p><strong>Categories</strong> 
            @if(Model.Categories != null) {
                @String.Join(", ", Model.Categories.Select(p => p.categoryName).ToArray())
            } </p> 
        </div>
    </div>
    <div class="row">
        <form>
            <h1>Post a review for this Product</h1>
            <div class="input-group">
                <label for="comment">Comment</label>
                <textarea class="form-control"id="comment"></textarea>
            </div>
            <div class="input-group">
                <label>Rating</label>
                <select class="form-control" id="rating">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            </br>
            <button onclick="saveReview()" type="button" class="btn btn-default">Post</button>
        </form>
    </div>
    <div class="row">
        <table id="reviewTable" class="table table-bordered table-striped">
            <tr>
                <th>Comments</th>
                <th>Rating</th>
            </tr>
    </div>
  </div>
</div>
</div> 
</div>
<input type="hidden" id="productId" value="@Model.productId">
@section Scripts
{
  <script src="~/js/productreview.js"></script>
}

